**
!go.mod
!go.sum
!agent/
!agent/**
!errdefs/
!errdefs/**
!types/
!types/**
!version/
!version/**
!cmd/
!cmd/kumabox-agent/
!cmd/kumabox-agent/**
!oci-images/
!oci-images/ubuntu/
!oci-images/ubuntu/overlay.sh
!oci-images/ubuntu/network.sh
!oci-images/ubuntu/kumabox-agent.service
